KUN_FIBER_SEVER_PORT=9277

# Nuxt4 dev server
KUN_FRONTEND_CORS_ORIGIN=http://127.0.0.1:9420
KUN_ENV="development"
KUN_SITE_URL=http://localhost:9277

# PostgreSQL
KUN_PG_HOST=localhost
KUN_PG_PORT=5432
KUN_PG_USER=postgres
KUN_PG_PASSWORD=191007
KUN_PG_DATABASE=kun_oauth_admin
KUN_PG_SSLMODE=disable
KUN_PG_TIMEZONE=Asia/Shanghai

# Redis
REDIS_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0

# JWT
JWT_SECRET=
JWT_COOKIE_NAME=kun_love_ren_token
JWT_EXPIRES=90d
